<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/register" method="GET">
            <button>Register</button>
        </form>
    </body>
</html>