<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="./index_style.css" type="text/css">
        <title>Home Page</title>
    </head>
    <body>
        <form action="/register" method="GET">
            <button>Register</button>
        </form>
        <form action="/login" method="GET">
            <button>Login</button>
        </form>
    </body>
</html>