<title>Login Page</title>
<form action="/login" method="POST" name="login_form">
    <div>
    <input type="text" placeholder="Student ID" name="student_id">
    </div>
    <div>
        <input type="password" placeholder="Password" name="password">
    </div>
    <button>Login</button>
</form>