<!DOCTYPE html>
<html>
    <head>
        <title>Students And Halls Selected</title>
    </head>
    <body>
        <table>
           <thead>
               <th>Student Name</th>
               <th>Student ID</th>
               <th>Hall</th>
               <th>Block</th>
               <th>Room Number</th>
           </thead>
           <tbody>
            
           </tbody> 
        </table>
    </body>
</html>