<!DOCTYPE html>
<html>
    <title>Select Halls</title>
<body>
    <form action="/save_selected_halls" method="POST" name="select_hall" >
        <label>---Select Hall---</label>
        <div>
        <select name="choose_hall" id="choose_hall">
            <option value="Hall" selected disabled>Hall</option>
            <option value="Akuaffo">Akuaffo</option>
            <option value="Legon">Legon</option>
            <option value="Mensah Sarbah">Mensah Sarbah</option>
            <option value="Commonwealth">Commonwealth</option>
        </select>
        </div>
        <label>---Select Block---</label>
        <div>
        <select name="choose_block">
                <option value="Block" selected disabled>Block</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
        </select>
        </div>
        <label>---Select Room---</label>
        <div>
        <select name="choose_room">
                <option value="Room" selected disabled>Room</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
        </select>
        <div>
        <button>Submit</button>
        </div>
    </form>    
</body>
</html>